In [3]:
import pandas as pd

In [5]:
# Read CSV file
camino_df = pd.read_csv('Resources/camino_de_santiago_stats2.csv')
camino_df.head()

,Year,Holy Year,Total Pilgrims,Gender,Number of Pilgrims by Gender,Completed by,Completed by Number of Pilgrims,Motivation,Motivation Number of Pilgrims,Nationality,Lat,Long,Number of Pilgrims by Nationality,Region Started,Number of Pilgrims per Region Started,Camino Route,Number of Pilgrims per Route,Age Range,Number of Pilgrims per Age Range
0,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alemania,1,NaN,NaN,NaN,NaN
1,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Peru패,-6.869970,-75.045851,76.0,Arles,560,NaN,NaN,NaN,NaN
2,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artieda,1,NaN,NaN,NaN,NaN
3,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reino Unido,54.702354,-3.276575,1432.0,Astorga,6944,NaN,NaN,NaN,NaN
4,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Haiti패,19.139995,-72.357097,3.0,Austria,73,NaN,NaN,NaN,NaN

In [6]:
# Save file
camino_df.to_html('data_table.html', index=False)